.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #ffe224;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  font-size: x-large;
  background-color: #ffe224;
  box-shadow: none;
  font-weight: 600;
  border-radius: 0.4em;
}
.EmailMain {
  background-color: #282c34;
  border-radius: 1em;
  margin: 0.5em;
  letter-spacing: 4px;
  width: 70vw;
  text-align: left;
  padding: 2vw;
}
.NotFound {
  color: #282c34;
}
h3 {
  font-size: small;
  color: gray;
}
h2 {
  font-size: xx-large;
  color: #282c34;
}
h1 {
  color: aliceblue;
  font-family: "Ubuntu";
  font-weight: bold;
}
